@{
    ViewBag.Title = "Contact";
}

<h2>Contato:</h2>

<section class="contact">
    <header>
        <h3>Telefone:</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span>34-91414512</span>
    </p>
    <p>
        <span class="label">Loja:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="marco2yw@hotmail.com">marco2yw@hotmail.com</a></span>
        <span><a href="ze12augusto@gmail.com">ze12augusto@gmail.com</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Endereço:</h3>
    </header>
    <p>
    Em breve nossa loja física com novo endereço !
    </p>
</section>