@{
    ViewBag.Title = "Home Page";
}
@section featured {
<img src="~/Images/lara.jpg" width="1348" height="300" > 

    <h2>
    A maior loja online de games da região esta agora com seu novo site, otimizado e com muitas ofertas para você,
    nosso caro cliente. Venha conferir nossos novos produtos !!
    </h2>
}

