

@{
    ViewBag.Title = "Cliente ou Fornecedor";
}

<h2>Escolha o tipo de cadastro da pessoa para completar o processo</h2>

<p>
    @Html.ActionLink("Cliente", "../Cliente/create")
</p>

<p>
    @Html.ActionLink("Fornecedor", "../Fornecedor/create")
</p>






