

@{
    ViewBag.Title = "Cliente ou Fornecedor";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cliente", "../Cliente/create")
</p>

<p>
    @Html.ActionLink("Fornecedor", "../Fornecedor/create")
</p>



}


